html, body {
	font-size: 12px;
	font-family: sans-serif;
	background-color: white;
	color: black;
	height: 100%;
	width: 100%;

	padding: 0;
	margin: 0;
	overflow: auto;
}

table#bigtable {
	height: 100%;
	width: 100%;
}

#logo {
	padding: 10px;
}

#toolbar {
	padding: 1ex;
}

#errors {
	padding: 1ex;
	display: none;
}

#refresh-settings {
	float: right;
	line-height: 2.4em;
}

#credits {
	display: none;
	width: 640px;
}

#footer {
	font-size: 75%;
	text-align: center;
	margin-top: 1em;
}

.top-title {
	text-align: center;
	padding: 0 1ex 0 1ex;
	margin-bottom: 1ex;
}


.ui-layout-resizer { background: #888; }

.ui-layout-pane { padding: 1ex; }

#tabs-transfers {
	/*display: table;*/
	width: 100%;
	padding: 0;
}

#queues-pane {
	/*display: table-cell;*/
	position: absolute;
	width: 20%;
	min-width: 200px;
	padding: 1ex;
	vertical-align: top;
}

#queues {
	background-color: white;
	border: 1px solid #CCC;
}

#transfers-pane {
	/*display: table-cell;*/
	position: relative;
	left: 21%;
	width: 78%;
	overflow: auto;
	/*width: 80%;*/
	padding: 1ex;
	/*overflow: scroll;*/
}

#transfers-wrapper {
	height: 90%;
	background-color: white;
	border: 1px solid #CCC;
}

.queue-item {
	text-align: center;
	padding-top: 1ex;
	padding-bottom: 1ex;
	cursor: pointer;
}

#queues .ui-selected, #queues .ui-selecting  {
	background: #567dbc;
	color: white;
	border: 1px solid #567dbc;
}

.queue-item:not(.ui-selected):hover {
	border: 1px solid #bfcde4 !important;
	background: #cbdaf1 !important;
}

table#transfers {
	background: white;
	border-collapse:collapse;
	/*height: 100%;*/
	width: 100%;
	border: none;
}

table#transfers th {
	text-align: left;
	padding-left: 1ex;
	border-bottom: 1px solid #DDD;
	height: 1ex;
}

table#transfers th:nth-child(n+2) {
	border-left: 1px solid #DDD;
}

table#transfers tr:nth-child(2n) {
	background: #F7F7F7;
}

table#transfers thead {
	
}

table#transfers tr {
	cursor: default;
	border-spacing: 0;
	max-height: 1ex;
}

table#transfers tr.ui-selected {
	background: #418bd4;
	color: white;
}

.progressbar {
	text-align: center !important;
	line-height: 2em;
}

.progressbar > span {
	float: right;
	width: 100%;
}

#tabs-tsg-img, #tabs-qsg-img {
	visibility: hidden;
}

/* http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html */
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#transfer-log, #global-log {
	height: 40ex;
	overflow: auto;
}

#delete-dialog, #delete-dialog-with-data {
	display: none;
}

#delete-dialog img, #delete-dialog-with-data img {
	float: left;
	margin-right: 3ex;
}

.transfer-properties {
	float: right;
	cursor: pointer;
	z-index: 10;
}

.dialog {
	display: none;
}

#transfer-properties table, #queue-properties table {
	width: 100%;
}

#transfer-properties-target, #transfer-properties-comment, #new-transfer-links, #new-transfer-destination-queue, #new-transfer-target, #queue-properties {
	width: 100%;
}

#tabs-details, #tabs-log {
	overflow: auto;
}

#new-transfer {
	width: 50%;
}

#new-transfer table {
	width: 100%;
}

#details-subclass {
	height: 100% !important;
}

#settings-list {
	width: 180px;
	border-right: 1px solid #DDD;
	height: 380px;
	overflow: auto;
	background-color: white;
	border: 1px solid #BBB;
}

#settings-list .settings-item {
	padding: 0.5ex 0 0.5ex 0;
	cursor: pointer;
	border: 0px;
}

#settings-list .settings-item img {
	vertical-align: middle;
	padding-left: 3px;
	max-width: 24px;
	max-height: 24px;
}

#settings-list .settings-item span {
	padding-left: 1ex;
}

#settings-list .settings-item.ui-selected, #settings-list .settings-item.ui-selecting {
	color: white;
	background: #567dbc;
}

#settings-wrapper {
	position: relative;
}

#settings-pane {
	/*margin-left: 185px;*/
	position: absolute;
	top: 0px;
	left: 190px;
	width: 480px;
	height: 380px;
	overflow: auto;
}

#settings-pane table {
	width: 99%;
}

#settings-pane td {
	cursor: default;
}

#settings-pane table input[type=number], #settings-pane table input[type=text], #settings-pane table input[type=password], #settings-pane table select {
	width: 100%;
}

fieldset {
	border: 1px solid #BBB;
	border-radius: 3px;
}

input[type=number], input[type=text], input[type=password] {
	border: 1px solid #BBB;
}

#popup-permissions a {
	color: #AAA;
}

#popup-permissions {
	float: right;
	display: none;
	font-weight: normal;
	color: #AAA;
	line-height: 2.4em;
	padding-right: 2em;
}

#fatrat-chrome-comm-div {
	display: none;
}

#details-download-parent {
	min-height: 300px !important;
}

#statusbar {
	height: 18px;
	position: absolute;
	bottom: 3px;
	margin-left: 1.6ex;
	width: 98%;
}

#statusbar-speedlimit {
	float: right;
	cursor: default;
}

#statusbar-speedlimit-down, #statusbar-speedlimit-up {
	padding: 0px 10px 0px 20px;
	background-repeat: no-repeat;
	height: 20px;
}

#statusbar-speedlimit-down {
	background-image: url(icons/move/down.png);
}

#statusbar-speedlimit-up {
	background-image: url(icons/move/up.png);
}


