fatrat.config
fatrat.creator
fatrat.files
fatrat.includes
FatRat.*
*.cxx
*.qm
ui_*.h
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
config.h
install_manifest.txt
*.qch
*.qhc
gfx/resources.qrc.depends
fatrat.creator.user
fatrat
fatrat-conf
*.swp

