body, button, input, select, table { font-family: sans-serif; font-size: small }
body { background-color: #fff }

table.transfers {
	font-size: small;
	width: 100%;
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: #808080;
	border-collapse: collapse;
}
table.transfers thead td {
	font-weight: bold;
	background: url(header.png);
	background-repeat: repeat-x;
	min-height: 16px;
}
table.transfers td {
	padding: 1px 3px 0px 3px;
	border-width: 1px;
	border-style: groove;
	border-color: #808080;
}

table.transfers tr:nth-child(even)
{
	background-color: #ddd;
}

.speedspan { border: 1px solid grey; padding: 5px; }
.stateicon { padding-left: 3px; width: 16px; height: 16px }

.toolbar { border: 1px solid #ccc; background: url(toolbar.png); padding: 4px; margin: 0px }
.toolbar img { width: 16px; height: 16px; }

td.m { text-align: center }

a, a:link, a:visited { color: blue; text-decoration: underline; }
a:hover { color: red }

table.transfers a, table.transfers a:link, table.transfers a:visited { color: black; text-decoration: none; }
table.transfers a:hover { color: red }

img { border: 0px }

hr {
	border-color: transparent;
	border-top-color: #808080;
}

.ralign { float: right }

