<table id="jabber-table">

	<tr>
		<td><label><input type="checkbox" id="jabber-enable" /> Enable Jabber remote control</label></td>
	</tr>

	<tr>
		<td>
			<fieldset>
				<legend>Account credentials</legend>
				<table>
					<tr>
						<td><label for="jabber-jid">JID</label></td>
						<td colspan="3"><input type="text" id="jabber-jid" /></td>
					</tr>
					<tr>
						<td><label for="jabber-password">Password</label></td>
						<td colspan="3"><input type="password" id="jabber-password" /></td>
					</tr>
					<tr>
						<td><label for="jabber-priority">Priority</label></td>
						<td><input type="number" id="jabber-priority" /></td>
						<td><label for="jabber-resource">Resource name</label></td>
						<td><input type="text" id="jabber-resource" /></td>
					</tr>
				</table>
			</fieldset>
		</td>
	</tr>

	<tr>
		<td><label><input type="checkbox" id="jabber-authonrequest" /> Grant roster authorizations upon request</label></td>
	</tr>

	<tr>
		<td><label><input type="checkbox" id="jabber-restrict-access" /> Restrict access to my own JID</label></td>
	</tr>

	<tr>
		<td>
			<fieldset>
				<legend><label><input type="checkbox" id="jabber-password-enable" /> Restrict access using a password</label></legend>
				<input type="password" id="jabber-access-password" />
			</fieldset>
		</td>
	</tr>

</table>
