[Desktop Entry]
Categories=Network;
Comment=Qt-based download/upload manager
Exec=fatrat
Name=FatRat
GenericName=Download/upload manager
Icon=fatrat
StartupNotify=true
Terminal=false
Type=Application
